@charset "utf-8";
/* CSS Document */
.sliderkit{margin-top:20px !important; margin-bottom:10px !important;}
/* slider layout */
.lof-slidecontent { position:relative; overflow:hidden; height:360px; width: 946px; background-color:#f0f0f0; box-shadow:0 1px 5px 0 #000;}
.lof-slidecontent .preload{	height:100%;	width:100%;	position:absolute;	top:0;	left:0;	z-index:100000;	text-align:center;}
.lof-slidecontent .preload div{	height:100%;	width:100%;	background:transparent url(../images/slider/load-indicator.gif) no-repeat scroll 50% 50%;}

.lof-slidecontent  .sliders-wrapper{	position:relative;	height:100%;	width:900px;	z-index:3px;	overflow:hidden; }
.lof-slidecontent  ul.sliders-wrap-inner{overflow:hidden;	background:transparent url(../images/slider/load-indicator.gif) no-repeat scroll 50% 50%;	padding:0px;	margin:0;	position:absolute;	overflow:hidden;}
.lof-slidecontent  ul.sliders-wrap-inner li{overflow:hidden;	padding:0px;margin:0px;	float:left;	position:relative;}
.lof-slidecontent  ul.sliders-wrap-inner li p{display:block; position:absolute; bottom:2px; right:20px; }
.lof-slidecontent  ul.sliders-wrap-inner li p span{padding:8px; background:transparent url('../images/icons.png') no-repeat -10px -231px;}
.lof-slidecontent  ul.sliders-wrap-inner li p a{color:#345982; font-weight:bold;}
.lof-slidecontent  ul.sliders-wrap-inner li p a:hover{text-decoration:none;}
.lof-slidecontent  .lof-opacity  li{position:absolute;	top:0;	left:0;	float:inherit; }


.lof-slidecontent  .navigator-content {position:absolute;
	right:0;
	top:00px;
	z-index:9;
	height:360px;
	width:340px;
	overflow:hidden;
	color:#fff;
	background-color:#3f3f3f;
	box-shadow:0 1px 5px 0 #000;
}
.lof-slidecontent  .navigator-wrapper{	position:relative;	z-index:10;
	height:180px;
	width:340px;
	overflow:hidden;
	color:#FFF;
	float:left
}
.lof-slidecontent  ul.navigator-wrap-inner{	top:0;	padding:0;	margin:0;	position:absolute;	width:100%; }
.lof-slidecontent  ul.navigator-wrap-inner li{ cursor:hand; 	cursor:pointer;	list-style:none;	padding:0;	margin-left:0px;	overflow:hidden;	float:left;	display:block;	text-align:center;border-top:1px solid #322D2A;}

/*******************************************************/
 
ul.sliders-wrap-inner li img{	padding:0px;	}

.lof-slidecontent .slider-description a.readmore{color:#58B1EA; font-size:95%; }
.lof-slidecontent .slider-description a{ color:#FFF; }
.lof-slidecontent .slider-description{
	z-index:100px;
	position:absolute;
	bottom:66px;
	left:0px;
	width:350px;
	background:url(../images/slider/bg_trans.png);
	height:100px;
	padding:10px;
	color:#FFF;
}
.lof-slidecontent .slider-description h4 {    font-size: 14px;    margin: 10px 0;    padding: 0; }
.lof-slidecontent .slider-description .slider-meta a{	
	margin:0;
	background:#C01F25;
	font-size:75%;
	padding:2px 3px;
	text-transform:uppercase;
	text-decoration:none
}
.lof-slidecontent  .item-meta a:hover{	text-decoration:underline;}
.lof-slidecontent  .item-meta i {	font-size:70%; }

/* item navigator */
.lof-slidecontent ul.navigator-wrap-inner  li.active{
	background:url(../images/bg_navselected.png) no-repeat scroll -1px center; 
	color:#FFF
}
.lof-slidecontent ul.navigator-wrap-inner  li >  div{
	color:#FFF;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	text-align:left;
}
.first_nav{border-top:none !important;}

.lof-slidecontent ul.navigator-wrap-inner li.active div{
	color:#FFF;
}
.lof-slidecontent ul.navigator-wrap-inner li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}
.lof-slidecontent ul.navigator-wrap-inner li.active img, 
.lof-slidecontent ul.navigator-wrap-inner li:hover img {
	border:##6C8E5C  solid 1px;
}

.navigator-wrap-inner div h3{color:#e3e3e3; font-size:19px; line-height:27px; margin-top:20px;}
.navigator-wrap-inner div p{color:#e3e3e3;}

